.headerWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;

  strong {
    font-size: 1.5rem;
    color: var(--gray-500);

    span {
      color: var(--dark-text);
    }
  }
}