.headerWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;

  strong {
    font-size: 1.5rem;
    color: var(--gray-500);

    span {
      color: var(--dark-text);
    }
  }

  .backLink {
    text-decoration: none;
    margin-left: auto;

    img {
      margin-right: 0.75rem;
    }

    strong {
      font-size: 1rem;
      color: var(--dark-text);
    }
  }
}