.repositoryResult {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: var(--white);
  border-radius: 5px;
  padding: 1.5rem;
  position: relative;

  &::after {
    content: '';
    width: 10px;
    height: 17.5px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxMCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMi4xMDVMNi41MDE2NSA5TDAgMTUuODk1TDEuNzQ5MTggMTcuNzVMMTAgOUwxLjc0OTE4IDAuMjVMMCAyLjEwNVoiIGZpbGw9IiNDOUM5RDQiLz4KPC9zdmc+Cg==") no-repeat;
    right: 2rem;
    top: calc(50% - 10px);
    position: absolute;
  }

  .info {
    flex: 1;
    padding-right: 2.5rem;

    strong {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--light-text);
    }

    p {
      font-size: 1.125rem;
      color: var(--dark-text);
      margin-top: 0.25rem;
    }
  }
}